# JSON - Lab

## Introduction

In this lab, you'll practice navigating JSON data structures.

## Objectives
You will be able to:
* Use the JSON module to load and parse JSON documents

## JSON

### Open the dataset from json

In [4]:
import json

f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

<class 'dict'>

### What is the root data type of the json file?

In [5]:
print(type(data))

<class 'dict'>

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [14]:
data.keys()

dict_keys(['meta', 'data'])

### Preview the first entry from the value returned by the 'data' key above.

In [15]:
for v in data.values():
    print(type(v))

<class 'dict'>
<class 'list'>

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [17]:
import pandas as pd
pd.DataFrame.from_dict(data['meta'])

                                                                       view
attribution                                    Campaign Finance Board (CFB)
averageRating                                                             0
category                                                    City Government
columns                   [{'id': -1, 'name': 'sid', 'dataTypeName': 'me...
createdAt                                                        1315950830
description               A listing of public funds payments for candida...
displayType                                                           table
downloadCount                                                          1470
flags                         [default, restorable, restorePossibleForType]
grants                    [{'inherited': False, 'type': 'viewer', 'flags...
hideFromCatalog                                                       False
hideFromDataJson                                                      False
id                                                                8dhd-zvi6
indexUpdatedAt                                                   1536596254
metadata                  {'rdfSubject': '0', 'rdfClass': '', 'attachmen...
name                                                 2001 Campaign Payments
newBackend                                                            False
numberOfComments                                                          0
oid                                                                 4140996
owner                     {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
provenance                                                         official
publicationAppendEnabled                                              False
publicationDate                                                  1371845179
publicationGroup                                                     240370
publicationStage                                                  published
query                                                                    {}
rights                                                               [read]
rowClass
rowsUpdatedAt                                                    1371845177
rowsUpdatedBy                                                     5fuc-pqz2
tableAuthor               {'id': '5fuc-pqz2', 'displayName': 'NYC OpenDa...
tableId                                                              932968
tags                      [finance, campaign finance board, cfb, nyccfb,...
totalTimesRated                                                           0
viewCount                                                               233
viewLastModified                                                 1536605717
viewType                                                            tabular

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a pandas DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [21]:
import pandas as pd
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

### What's wrong with the first row of the DataFrame?

In [7]:
#Your code here

In [ ]:
#Your answer here

## Summary

Congratulations! You've started exploring some more JSON data structures used for the web and got to practice data munging and exploring!